<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>632636220479-va5ia9h1850mlu545rjiejrhm3aq283g.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.632636220479-va5ia9h1850mlu545rjiejrhm3aq283g</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>MONU needs access to your calendars to display and sync your events.</string>
	<key>NSRemindersUsageDescription</key>
	<string>MONU can read reminders to help you plan (optional).</string>
</dict>
</plist>
